.content-wrapper {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header > h1 {
  font-size: 1.25rem;
  font-weight: 100;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
}

.header > h3 {
  color: #5456E3;
  font-size: 2.75rem;
  font-weight: 800;
  margin-top: .5rem;
}

.stats-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

/* Small */
@media (min-width: 640px) {
  .stats-wrapper {
    flex-direction: row-reverse;
  }
}

/* Medium */
@media (min-width: 768px) {
  .header > h3 {
    font-size: 3.5rem;
  }
}

/* Large */
@media (min-width: 1024px) {
  .header > h3 {
    font-size: 4rem;
  }
}

/* Extra Large */
@media (min-width: 1280px) {
  .header > h3 {
    font-size: 4.5rem;
  }
}
