<div class="stats-container">
  <div class="stat-wrapper">
    <p class="stat">{{ correctWords }}</p>
    <p class="stat-label">words/min</p>
  </div>
  <div class="stat-wrapper">
    <p class="stat">{{ correctChars }}</p>
    <p class="stat-label">chars/min</p>
  </div>
  <div class="stat-wrapper">
    <p class="stat">{{ accuracy }}</p>
    <p class="stat-label">% accuracy</p>
  </div>
  <div id="top-wpm" class="stat-wrapper">
    <p class="stat">{{ topWPM }}</p>
    <p class="stat-label">top words/min</p>
  </div>
</div>
