.stats-container {
  display: flex;
}

.stat-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 .5rem 0 .5rem;
}

.stat {
  font-size: 2rem;
  font-weight: 500;
}

.stat-label {
  font-size: .75rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  color: #4a5568;
}

#top-wpm {
  display: none;
}

p {
  margin: 0;
}

/* Show #top-wpm */
@media (min-width: 353px) {
  #top-wpm {
    display: inherit;
    justify-content: flex-end;
  }

  #top-wpm .stat {
    font-size: 1.5rem;
  }

  #top-wpm .stat-label {
    font-size: .5rem;
  }
}

/* Small (sm) */
@media (min-width: 640px) {
  #top-wpm {
    justify-content: center;
    margin-left: 1.5rem;
  }

  #top-wpm .stat {
    font-size: 1.75rem;
  }

  #top-wpm .stat-label {
    font-size: .625rem;
  }
}

/* Extra Large */
@media (min-width: 1280px) {
  .stat {
    font-size: 2.5rem;
  }
}
