.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  font-size: 2rem;
  font-weight: 500;
}

.timer-label {
  font-size: .75rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #4a5568;
}

p {
  margin: 0;
}

/* Small */
@media (min-width: 640px) {
  .timer {
    font-size: 3rem;
  }
}

/* Extra Large */
@media (min-width: 1280px) {
  .timer {
    font-size: 3.5rem;
  }
}
