* {
  box-sizing: border-box;
}

.modal-container {
  background-color: rgba(255, 255, 255, .8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.modal-container.show {
  opacity: 1;
  pointer-events: auto;
  backdrop-filter: blur(4px);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
  height: 100%;
  width: 100%;
  text-align: center;
  min-height: 425px;
}

.modal h2 {
  margin: 3rem 0 0 0;
}

.modal p {
  opacity: .7;
}

:host ::ng-deep .highlight {
  font-size: 1.125rem;
  font-weight: 500;
  color: black;
  background-color: #a3bffa;
  border-radius: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
  white-space: nowrap;
}

:host ::ng-deep .bold {
  font-size: 1.125rem;
  font-weight: 500;
  color: black;
}

.btn-container.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
}

button.btn-purple {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  background-color: #5a67d8;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  color: white;
  margin-top: 1rem;
  padding: 10px 25px;
  cursor: pointer;
}

button:hover.btn-purple {
  background-color: #667eea;
  border-color: #4c51bf;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#save-btn.disabled {
  opacity: .65;
  pointer-events: none;
}

button.btn-white {
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  background-color: white;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  color: #667eea;
  margin-top: 1rem;
  padding: 10px 25px;
  cursor: pointer;
}

button:hover.btn-white {
  background-color: #eef2ff;
  border-color: transparent;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.info {
  margin: .5rem;
  font-size: .75rem;
  font-weight: 200;
}

.highlight-esc {
  color: black;
  background-color: #e2e8f0;
  border-radius: .25rem;
  padding-left: .25rem;
  padding-right: .25rem;
  white-space: nowrap;
  color: rgba(55, 65, 81, 1);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px 0 1rem 0;
  text-align: left;
  white-space: nowrap;
}

label {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 300;
  margin-right: .5rem;
}

input[type=text] {
  border: 2px solid #DADDE1;
  background-color: white;
  border-radius: 0.375rem;
  padding: 4px 6px;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: 0;
}

input[type=text]:focus {
  border-color: #5456E3;
}

#username.ng-touched.ng-invalid {
  border-color: #F9C1C1;
}

.input-error div {
  margin-left: 2px;
  font-size: .5rem;
  line-height: .75rem;
  font-weight: 200;
  color: #E44241;
}

table {
  margin: 1rem;
  border-collapse: separate;
  border-spacing: 1rem 2px;
}

th {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: .025em;
}

td {
  white-space: nowrap;
}

.highlights-score>td {
  color: #5456E3;
}

.blank_row {
  height: 5px;
}

/* touch stuff goes here */
@media (hover: none){
  .info {
    display: none;
  }
}

/* Small */
@media (min-width: 640px) {
  .modal {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    padding: 30px 50px;
    height: auto;
    width: 600px;
    max-width: 100%;
  }

  input[type=text] {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
