.main-container {
  display: flex;
  align-items: center;
}

.typed-words-container {
  height: 55px;
  width: 50%;
  overflow: hidden;
}

.whitespace-no-wrap {
  display: flex;
  height: 100%;
  float: right;
  white-space: nowrap;
  text-align: right;
}

#test-input {
  height: 100%;
  padding-left: .25rem;
  display: inline-block;
  color: #5A67D8;
  font-size: 3rem;
  caret-color: black;
  outline: none;
}

.words-container {
  overflow: hidden;
  flex: none;
  width: 50%;
  height: 55px;
}

.words-container > span {
  font-size: 3rem;
  padding-left: .25rem;
  padding-right: .25rem;
}

.whitespace-no-wrap > span {
  font-size: 3rem;
  padding-left: .25rem;
  padding-right: .25rem;
  opacity: 35%;
}

.words-container > span:first-of-type {
  padding-left: 0;
}

.wrong-word {
  text-decoration: line-through;
}
